@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Summernote example page";
}
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<link href="summernote-bs5.css" rel="stylesheet">
<script src="summernote-bs5.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome to Summernote example!</h1>
</div>
<div id="summernote">Hello Summernote</div>
<script type ="module">
    $(document).ready(function () {
        $('#summernote').summernote();
    });
</script>
